<div ng-controller="AccountController">
    <div class="col-sm-7" ng-class="{ 'has-error':  MDMForm.oldpassWord.$invalid }">
        <div class="col-md-7 col-sm-7">
            <label class="control-label">Old Password<span class="error">*</span></label>
        </div>
        <div class="col-md-7 col-sm-7">
            <input type="password" class="form-control" ng-model="ManageUserViewModel.OldPassword" ng-required="true" name="oldpassWord" />
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-7" ng-class="{ 'has-error': MDMForm.newpassWord.$invalid }">
        <div class="col-md-7 col-sm-7">
            <label class="control-label">New Password<span class="error">*</span></label>
        </div>
        <div class="col-md-7 col-sm-7">
            <input type="password" class="form-control" ng-model="ManageUserViewModel.NewPassword" id="newpassWord" name="newpassWord" ng-required="true" />
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-show="!CCAccess[3].isSuppressed" class="col-sm-7" ng-class="{ 'has-error': MDMForm.confirmnewpassWord.$invalid }">
        <div class="col-md-7 col-sm-7">
            <label class="control-label">Confirm New Password<span class="error">*</span><span class="error" ng-show="CCAccess[3].isMandatory">*</span></label>
        </div>
        <div class="col-md-7 col-sm-7">
            <input type="password" class="form-control" ng-model="confirmnewpassWord" ng-required="true" name="confirmnewpassWord" ng-compare="newpassWord" />
            <span class="error" ng-show="MDMForm.confirmnewpassWord.$error.notmatch">
                New Password and Conform Password Missmatch!
            </span>
            
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-7 col-sm-offset-7" style="margin-top:20px;">
        <button style="width: 100px; height: 30px; margin-right: 10px;" class="btn" type="button" ng-click="ChangePassword()" ng-disabled="!MDMForm.$valid">
            <span>Submit</span>
        </button>
            <button style="width: 100px; height: 30px;" class="btn" type="button" ng-click="GoBack();">
                <span>Back</span>
            </button>       
    </div>
</div>

