USE [master]
GO
/****** Object:  Database [ESDB1]    Script Date: 5/15/2016 2:07:00 PM ******/
CREATE DATABASE [ESDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESDB1', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ESDB1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ESDB1_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ESDB1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESDB1]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserSecurityDetails]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetUserSecurityDetails]
@username nvarchar(100)
as
begin
select ui.FirstName, ui.LastName, ui.UserID, ui.UserTypeID, si.Password, ui.Email from UserInfo ui inner join
securityids si on si.UserID=ui.UserID where si.UserName=@username

end





GO
/****** Object:  Table [dbo].[AddressDetails]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Pin] [nchar](10) NULL,
	[AddressType] [nchar](10) NULL,
 CONSTRAINT [PK_AddressDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Classes]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserID] [int] NULL,
	[InstitutionID] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassSections]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSections](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_ClassSections] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassSubjects]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSubjects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[UserID] [int] NULL,
	[Blocked] [bit] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_ClassSubjects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTT_Class_Section_TimeTable]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTT_Class_Section_TimeTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
	[TimeTableID] [int] NOT NULL,
 CONSTRAINT [PK_ESTT_Class_Section_TimeTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTT_HourDetails]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTT_HourDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Day] [nchar](10) NOT NULL,
	[HourName] [nvarchar](50) NULL,
	[SubjectName] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_ESTT_HourDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTT_TimeTable]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTT_TimeTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
	[ModifiedBy] [nchar](10) NULL,
	[IsBlocked] [bit] NULL,
	[BlockedAt] [datetime] NULL,
	[BlockedBy] [int] NULL,
 CONSTRAINT [PK_ESTT_TimeTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTT_TimeTable_HourDetails]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTT_TimeTable_HourDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeTableID] [int] NULL,
	[HourDetailsID] [int] NULL,
 CONSTRAINT [PK_ESTT_TimeTable_HourDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exams]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](200) NOT NULL,
	[ExamShotName] [nchar](200) NULL,
	[ExamCode] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Blocked] [bit] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Facitity]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facitity](
	[FacitityID] [int] IDENTITY(1,1) NOT NULL,
	[FacitityName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_Facitity] PRIMARY KEY CLUSTERED 
(
	[FacitityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FacitityFeatures]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacitityFeatures](
	[ID] [int] NOT NULL,
	[FacitityID] [int] NOT NULL,
	[FeatareID] [int] NOT NULL,
 CONSTRAINT [PK_FacitityFeatures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feature_FeatureTypes]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature_FeatureTypes](
	[ID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
	[FeatureTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Feature_FeatureTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeatureFunctions]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeatureFunctions](
	[ID] [int] NOT NULL,
	[FeatueID] [int] NOT NULL,
	[FunctionID] [int] NOT NULL,
 CONSTRAINT [PK_FeatureFunctions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Features]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureID] [int] NOT NULL,
	[FeatureName] [nvarchar](100) NOT NULL,
	[Desciption] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[Blocked] [bit] NULL,
 CONSTRAINT [PK_Features] PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeatureType]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FeatureType](
	[FeatureTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_FeatureType] PRIMARY KEY CLUSTERED 
(
	[FeatureTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Functions](
	[FunctionID] [int] IDENTITY(1,1) NOT NULL,
	[FunctionName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Guardian]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guardian](
	[ID] [int] NOT NULL,
	[StudentID] [int] NULL,
	[UserID] [int] NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Relation] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[OfficePhone] [nvarchar](50) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[ResidentialPhone] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[Occupation] [nvarchar](50) NULL,
	[Income] [nvarchar](50) NULL,
	[Eucation] [nvarchar](50) NULL,
	[CreatedAt] [nvarchar](50) NULL,
	[ModifiedAt] [nvarchar](50) NULL,
 CONSTRAINT [PK_Guardian] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InstitutionInfo]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstitutionInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ShortName] [nvarchar](200) NULL,
	[RegName] [nvarchar](200) NULL,
	[RegNo] [nvarchar](50) NULL,
	[RegDate] [datetime] NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Pin] [nchar](10) NULL,
	[Address1] [nvarchar](200) NULL,
	[Address2] [nvarchar](200) NULL,
	[Type] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[isBlocked] [bit] NULL,
 CONSTRAINT [PK_InstitutionInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MasterTables]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterTables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Descrription] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RelationWith] [nvarchar](400) NULL,
 CONSTRAINT [PK_MasterTables] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uc_MastertableName] UNIQUE NONCLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Members]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nchar](10) NULL,
	[DOB] [datetime] NULL,
	[PhoneNo] [nvarchar](50) NULL,
	[EmailId] [nvarchar](100) NULL,
	[UserTypeId] [int] NOT NULL,
	[CreatDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[BlockedDate] [datetime] NULL,
	[isBlocked] [bit] NULL,
	[BlockedBy] [int] NULL,
 CONSTRAINT [PK_StudentInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[Blockd] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SecurityIds]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityIds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Password1] [nvarchar](50) NULL,
	[Password2] [nvarchar](50) NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[ModefiedDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[SecuityQA] [nvarchar](50) NULL,
 CONSTRAINT [PK_SecurityIds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[state]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[state](
	[state_id] [int] IDENTITY(1,1) NOT NULL,
	[state_name] [varchar](50) NOT NULL,
	[state_abbrev] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaticMasterTables]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticMasterTables](
	[ID] [int] NOT NULL,
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RelationWith] [nvarchar](400) NULL,
 CONSTRAINT [PK_StaticMasterTables] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uc_tableName] UNIQUE NONCLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentAditionalInfo]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentAditionalInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[AdmissionNo] [nvarchar](50) NOT NULL,
	[RollNo] [nvarchar](50) NULL,
	[AddmissionDate] [datetime] NULL,
	[BloodGroup] [nchar](10) NULL,
	[BirthPlace] [nvarchar](50) NULL,
	[Nationalty] [nvarchar](50) NULL,
	[Languages] [nvarchar](50) NULL,
	[Religion] [nvarchar](50) NULL,
	[StudentCategory] [nchar](10) NULL,
	[IsSMSEnabled] [bit] NULL,
	[PhotoFileName] [nvarchar](500) NULL,
	[BatchID] [int] NULL,
	[PhotoContentType] [nchar](10) NULL,
	[PhotoData] [binary](5000) NULL,
	[StatusDescription] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_StudentAditionalInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StuentClassSectionInfo]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StuentClassSectionInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StuentID] [int] NOT NULL,
	[StudentNo] [int] NULL,
	[ClassID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
	[RollNo] [nvarchar](50) NULL,
	[Meadium] [nchar](10) NULL,
	[InstitutionID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[Blocked] [bit] NULL,
 CONSTRAINT [PK_StuentClassSectionInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[ShortName] [nchar](10) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserID] [int] NULL,
	[Blocked] [bit] NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransactionTables]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RelationWith] [nvarchar](400) NULL,
 CONSTRAINT [PK_TransactionTables] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uc_transableName] UNIQUE NONCLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeID] [int] NOT NULL,
	[Title] [nchar](10) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Gender] [nchar](10) NULL,
	[Birthdate] [datetime] NULL,
	[Adderss1] [nvarchar](200) NULL,
	[Adderss2] [nvarchar](200) NULL,
	[City] [nvarchar](50) NULL,
	[State] [int] NULL,
	[Country] [int] NULL,
	[Zip] [nchar](10) NULL,
	[Description] [nvarchar](100) NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[ModefiedDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRolesFacility]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRolesFacility](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[FacitityID] [int] NOT NULL,
	[Blockedd] [bit] NULL,
 CONSTRAINT [PK_UserRolesFacility] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 5/15/2016 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTypes](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AddressDetails]  WITH CHECK ADD  CONSTRAINT [FK_AddressDetails_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[AddressDetails] CHECK CONSTRAINT [FK_AddressDetails_Members]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ClassSections]  WITH CHECK ADD  CONSTRAINT [FK_ClassSections_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[ClassSections] CHECK CONSTRAINT [FK_ClassSections_Classes]
GO
ALTER TABLE [dbo].[ClassSections]  WITH CHECK ADD  CONSTRAINT [FK_ClassSections_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[ClassSections] CHECK CONSTRAINT [FK_ClassSections_Sections]
GO
ALTER TABLE [dbo].[ClassSubjects]  WITH CHECK ADD  CONSTRAINT [FK_ClassSubjects_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[ClassSubjects] CHECK CONSTRAINT [FK_ClassSubjects_Classes]
GO
ALTER TABLE [dbo].[ClassSubjects]  WITH CHECK ADD  CONSTRAINT [FK_ClassSubjects_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[ClassSubjects] CHECK CONSTRAINT [FK_ClassSubjects_Subjects]
GO
ALTER TABLE [dbo].[ESTT_Class_Section_TimeTable]  WITH CHECK ADD  CONSTRAINT [FK_ESTT_Class_Section_TimeTable_Classes1] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[ESTT_Class_Section_TimeTable] CHECK CONSTRAINT [FK_ESTT_Class_Section_TimeTable_Classes1]
GO
ALTER TABLE [dbo].[ESTT_Class_Section_TimeTable]  WITH CHECK ADD  CONSTRAINT [FK_ESTT_Class_Section_TimeTable_ESTT_TimeTable] FOREIGN KEY([TimeTableID])
REFERENCES [dbo].[ESTT_TimeTable] ([Id])
GO
ALTER TABLE [dbo].[ESTT_Class_Section_TimeTable] CHECK CONSTRAINT [FK_ESTT_Class_Section_TimeTable_ESTT_TimeTable]
GO
ALTER TABLE [dbo].[ESTT_Class_Section_TimeTable]  WITH CHECK ADD  CONSTRAINT [FK_ESTT_Class_Section_TimeTable_Sections1] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[ESTT_Class_Section_TimeTable] CHECK CONSTRAINT [FK_ESTT_Class_Section_TimeTable_Sections1]
GO
ALTER TABLE [dbo].[ESTT_TimeTable_HourDetails]  WITH CHECK ADD  CONSTRAINT [FK_ESTT_TimeTable_HourDetails_ESTT_HourDetails] FOREIGN KEY([HourDetailsID])
REFERENCES [dbo].[ESTT_HourDetails] ([Id])
GO
ALTER TABLE [dbo].[ESTT_TimeTable_HourDetails] CHECK CONSTRAINT [FK_ESTT_TimeTable_HourDetails_ESTT_HourDetails]
GO
ALTER TABLE [dbo].[ESTT_TimeTable_HourDetails]  WITH CHECK ADD  CONSTRAINT [FK_ESTT_TimeTable_HourDetails_ESTT_TimeTable] FOREIGN KEY([TimeTableID])
REFERENCES [dbo].[ESTT_TimeTable] ([Id])
GO
ALTER TABLE [dbo].[ESTT_TimeTable_HourDetails] CHECK CONSTRAINT [FK_ESTT_TimeTable_HourDetails_ESTT_TimeTable]
GO
ALTER TABLE [dbo].[FacitityFeatures]  WITH CHECK ADD  CONSTRAINT [FK_FacitityFeatures_Facitity] FOREIGN KEY([FacitityID])
REFERENCES [dbo].[Facitity] ([FacitityID])
GO
ALTER TABLE [dbo].[FacitityFeatures] CHECK CONSTRAINT [FK_FacitityFeatures_Facitity]
GO
ALTER TABLE [dbo].[FacitityFeatures]  WITH CHECK ADD  CONSTRAINT [FK_FacitityFeatures_Features] FOREIGN KEY([FeatareID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[FacitityFeatures] CHECK CONSTRAINT [FK_FacitityFeatures_Features]
GO
ALTER TABLE [dbo].[Feature_FeatureTypes]  WITH CHECK ADD  CONSTRAINT [FK_Feature_FeatureTypes_Features] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[Feature_FeatureTypes] CHECK CONSTRAINT [FK_Feature_FeatureTypes_Features]
GO
ALTER TABLE [dbo].[Feature_FeatureTypes]  WITH CHECK ADD  CONSTRAINT [FK_Feature_FeatureTypes_FeatureType] FOREIGN KEY([FeatureTypeID])
REFERENCES [dbo].[FeatureType] ([FeatureTypeID])
GO
ALTER TABLE [dbo].[Feature_FeatureTypes] CHECK CONSTRAINT [FK_Feature_FeatureTypes_FeatureType]
GO
ALTER TABLE [dbo].[FeatureFunctions]  WITH CHECK ADD  CONSTRAINT [FK_FeatureFunctions_Features1] FOREIGN KEY([FeatueID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[FeatureFunctions] CHECK CONSTRAINT [FK_FeatureFunctions_Features1]
GO
ALTER TABLE [dbo].[FeatureFunctions]  WITH CHECK ADD  CONSTRAINT [FK_FeatureFunctions_Functions1] FOREIGN KEY([FunctionID])
REFERENCES [dbo].[Functions] ([FunctionID])
GO
ALTER TABLE [dbo].[FeatureFunctions] CHECK CONSTRAINT [FK_FeatureFunctions_Functions1]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_UserTypes] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[UserTypes] ([UserTypeId])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_UserTypes]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Personal_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Personal_AspNetUsers]
GO
ALTER TABLE [dbo].[SecurityIds]  WITH CHECK ADD  CONSTRAINT [FK_SecurityIds_SecurityIds] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[SecurityIds] CHECK CONSTRAINT [FK_SecurityIds_SecurityIds]
GO
ALTER TABLE [dbo].[StudentAditionalInfo]  WITH CHECK ADD  CONSTRAINT [FK_StudentAditionalInfo_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[StudentAditionalInfo] CHECK CONSTRAINT [FK_StudentAditionalInfo_Members]
GO
ALTER TABLE [dbo].[StuentClassSectionInfo]  WITH CHECK ADD  CONSTRAINT [FK_StuentClassSectionInfo_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[StuentClassSectionInfo] CHECK CONSTRAINT [FK_StuentClassSectionInfo_Classes]
GO
ALTER TABLE [dbo].[StuentClassSectionInfo]  WITH CHECK ADD  CONSTRAINT [FK_StuentClassSectionInfo_InstitutionInfo] FOREIGN KEY([InstitutionID])
REFERENCES [dbo].[InstitutionInfo] ([Id])
GO
ALTER TABLE [dbo].[StuentClassSectionInfo] CHECK CONSTRAINT [FK_StuentClassSectionInfo_InstitutionInfo]
GO
ALTER TABLE [dbo].[StuentClassSectionInfo]  WITH CHECK ADD  CONSTRAINT [FK_StuentClassSectionInfo_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[StuentClassSectionInfo] CHECK CONSTRAINT [FK_StuentClassSectionInfo_Sections]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_UserTypes] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserTypes] ([UserTypeId])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_UserTypes]
GO
ALTER TABLE [dbo].[UserRolesFacility]  WITH CHECK ADD  CONSTRAINT [FK_UserRolesFacility_Facitity] FOREIGN KEY([FacitityID])
REFERENCES [dbo].[Facitity] ([FacitityID])
GO
ALTER TABLE [dbo].[UserRolesFacility] CHECK CONSTRAINT [FK_UserRolesFacility_Facitity]
GO
ALTER TABLE [dbo].[UserRolesFacility]  WITH CHECK ADD  CONSTRAINT [FK_UserRolesFacility_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserRolesFacility] CHECK CONSTRAINT [FK_UserRolesFacility_Roles]
GO
ALTER TABLE [dbo].[UserRolesFacility]  WITH CHECK ADD  CONSTRAINT [FK_UserRolesFacility_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[UserRolesFacility] CHECK CONSTRAINT [FK_UserRolesFacility_UserInfo]
GO
USE [master]
GO
