<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="font-family: georgia; font-size: 12px; background-color: #DBE5F1">

        <p>Dear @ApproverName,</p>
        <p>Request no with @ReferenceNo has been @Status_Name.</p>
        <table style="width: 100%">
            <tr>
                <td>Request ID</td>
                <td>Master Name</td>
                <td>Level</td>
                <td>Current Status</td>
                <td>Comments</td>
            </tr>
            <tr>
                <td>@ReferenceNo</td>
                <td>@MasterName</td>
                <td>@levelName</td>
                <td>@Status_Name</td>
                <td>@Comments</td>
            </tr>
        </table>
        <p><a href="http://10.96.23.17:8080/MDMWeb/" target="_blank"><span style="text-decoration: underline;">Click Here</span></a>&nbsp;</p>

        <p>Regards,</p>
        Team - VFS<br />
    </div>
</body>
</html>
