USE [master]
GO
/****** Object:  Database [ESDB]    Script Date: 4/22/2017 1:01:48 PM ******/
CREATE DATABASE [ESDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER1\MSSQL\DATA\ESDB.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ESDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER1\MSSQL\DATA\ESDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESDB]
GO
USE [ESDB]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Adress1] [nvarchar](100) NOT NULL,
	[Adress2] [nvarchar](100) NULL,
	[Location] [nvarchar](50) NULL,
	[CityId] [int] NULL,
	[StateId] [int] NULL,
	[CountryId] [int] NULL,
	[PinCode] [nchar](10) NOT NULL,
	[CommunicationType] [nvarchar](50) NULL,
 CONSTRAINT [PK_CommunicationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Classes]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserID] [int] NULL,
	[InstitutionID] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassSections]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_ClassSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassSubjects]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSubjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[UserID] [int] NULL,
	[Blocked] [bit] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_ClassSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ManagerEmployeeId] [int] NULL,
	[Location] [nvarchar](200) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Districts]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](max) NULL,
	[StateId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmergencyContactDetails]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyContactDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContactPersonName] [nvarchar](200) NOT NULL,
	[MobilePhone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[RelationshipId] [int] NULL,
	[CreatetDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[EndDate] [date] NULL,
	[Blocked] [bit] NULL,
 CONSTRAINT [PK_EmergencyContactDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[FirstName] [nvarchar](200) NOT NULL,
	[MiddleName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NOT NULL,
	[DOB] [date] NULL,
	[AddressID1] [int] NULL,
	[AddressID2] [nchar](10) NULL,
	[DepartmentID] [int] NULL,
	[JoiningDate] [date] NULL,
	[ManagerID] [int] NULL,
	[Designation] [nvarchar](200) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[ModifiedDate] [date] NULL,
	[ModifiedBy] [nvarchar](128) NULL,
	[Blocked] [bit] NULL,
	[BlockedDate] [date] NULL,
	[BlockedBy] [nvarchar](128) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exams]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](200) NOT NULL,
	[ExamShotName] [nchar](200) NULL,
	[ExamCode] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Blocked] [bit] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Facitity]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facitity](
	[FacitityID] [int] IDENTITY(1,1) NOT NULL,
	[FacitityName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_Facitity] PRIMARY KEY CLUSTERED 
(
	[FacitityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FacitityFeatures]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacitityFeatures](
	[ID] [int] NOT NULL,
	[FacitityID] [int] NOT NULL,
	[FeatareID] [int] NOT NULL,
 CONSTRAINT [PK_FacitityFeatures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feature_FeatureTypes]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature_FeatureTypes](
	[ID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
	[FeatureTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Feature_FeatureTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeatureFunctions]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeatureFunctions](
	[ID] [int] NOT NULL,
	[FeatueID] [int] NOT NULL,
	[FunctionID] [int] NOT NULL,
 CONSTRAINT [PK_FeatureFunctions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Features]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureID] [int] NOT NULL,
	[FeatureName] [nvarchar](100) NOT NULL,
	[Desciption] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[Blocked] [bit] NULL,
 CONSTRAINT [PK_Features] PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeatureType]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeatureType](
	[FeatureTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_FeatureType] PRIMARY KEY CLUSTERED 
(
	[FeatureTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Functions]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functions](
	[FunctionID] [int] IDENTITY(1,1) NOT NULL,
	[FunctionName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InstitutionInfo]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstitutionInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ShortName] [nvarchar](200) NULL,
	[RegName] [nvarchar](200) NULL,
	[RegNo] [nvarchar](50) NULL,
	[RegDate] [datetime] NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Pin] [nchar](10) NULL,
	[Address1] [nvarchar](200) NULL,
	[Address2] [nvarchar](200) NULL,
	[Type] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Blocked] [bit] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_InstitutionInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MasterTables]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterTables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Descrription] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RelationWith] [nvarchar](400) NULL,
 CONSTRAINT [PK_MasterTables] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parents]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[UserID] [int] NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Relation] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[OfficePhone] [nvarchar](50) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[ResidentialPhone] [nvarchar](50) NULL,
	[AddressID1] [int] NULL,
	[AddressID2] [int] NULL,
	[DOB] [datetime] NULL,
	[Occupation] [nvarchar](50) NULL,
	[Income] [nvarchar](50) NULL,
	[Education] [nvarchar](50) NULL,
	[ParentType] [nchar](10) NULL,
	[CreatedDatte] [date] NULL,
	[ModifiedDate] [date] NULL,
	[Blocked] [bit] NULL,
 CONSTRAINT [PK_Guardian] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Relationships]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relationships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Relationships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[Blockd] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sections]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SecurityIds]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityIds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Password1] [nvarchar](50) NULL,
	[Password2] [nvarchar](50) NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[ModefiedDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[SecuityQA] [nvarchar](50) NULL,
 CONSTRAINT [PK_SecurityIds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](max) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaticMasterTables]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticMasterTables](
	[ID] [int] NOT NULL,
	[TableID] [int] NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RelationWith] [nvarchar](400) NULL,
 CONSTRAINT [PK_StaticMasterTables] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[PhoneNo] [nvarchar](50) NULL,
	[CreatDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Blocked] [bit] NULL,
 CONSTRAINT [PK_StudentInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentAddress]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[AddressId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentAditionalInfo]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAditionalInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[Address1Id] [int] NULL,
	[Address2Id] [int] NULL,
	[AdmissionNo] [nvarchar](50) NULL,
	[ClassRollNo] [nvarchar](50) NULL,
	[AddmissionDate] [datetime] NULL,
	[BatchID] [int] NULL,
	[DOB] [datetime] NULL,
	[Gender] [nchar](10) NULL,
	[BloodGroup] [nchar](10) NULL,
	[BirthPlace] [nvarchar](50) NULL,
	[Nationalty] [nvarchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Religion] [nvarchar](50) NULL,
	[StudentCategory] [nchar](10) NULL,
	[IsSMSEnabled] [bit] NULL,
	[PhotoFileName] [nvarchar](100) NULL,
	[PhotoContentType] [nchar](10) NULL,
	[PhotoData] [binary](5000) NULL,
	[StatusDescription] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_StudentAditionalInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentClassSectionInfo]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClassSectionInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StuentID] [int] NOT NULL,
	[StudentNo] [int] NULL,
	[ClassID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
	[RollNo] [nvarchar](50) NULL,
	[Meadium] [nchar](10) NULL,
	[InstitutionID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[Blocked] [bit] NULL,
 CONSTRAINT [PK_StuentClassSectionInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubDistricts]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubDistricts](
	[SubDistrictsId] [int] IDENTITY(1,1) NOT NULL,
	[SubDistrictsName] [nvarchar](max) NOT NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubDistricts] PRIMARY KEY CLUSTERED 
(
	[SubDistrictsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[ShortName] [nchar](10) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserID] [int] NULL,
	[isDeleted] [bit] NULL,
	[locationID] [int] NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[Blocked] [bit] NULL,
	[BlockedDate] [date] NULL,
	[ModifiedBy] [nvarchar](128) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeacherSubject]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[ModifiedBy] [nvarchar](128) NULL,
 CONSTRAINT [PK_TeacherSubject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransactionTables]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[RelationWith] [nvarchar](400) NULL,
 CONSTRAINT [PK_TransactionTables] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeID] [int] NOT NULL,
	[Title] [nchar](10) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Gender] [nchar](10) NULL,
	[Birthdate] [datetime] NULL,
	[Adderss1] [nvarchar](200) NULL,
	[Adderss2] [nvarchar](200) NULL,
	[City] [nvarchar](50) NULL,
	[State] [int] NULL,
	[Country] [int] NULL,
	[Zip] [nchar](10) NULL,
	[Description] [nvarchar](100) NULL,
	[Blocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[ModefiedDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRolesFacility]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRolesFacility](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[FacitityID] [int] NOT NULL,
	[Blockedd] [bit] NULL,
 CONSTRAINT [PK_UserRolesFacility] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Address] ON 

GO
INSERT [dbo].[Address] ([Id], [Name], [Adress1], [Adress2], [Location], [CityId], [StateId], [CountryId], [PinCode], [CommunicationType]) VALUES (2, NULL, N'Hyderabad', NULL, N'Nzb', 1, 1, 1, N'1         ', NULL)
GO
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6afebbe5-97a0-45be-a24e-01d040b6705b', N'naveeng201@gmail.com', 0, N'AEF1PxRpN8bo7KzceSoAZ4CSQS3Yav3iLtth+5ZdoacwIVm8wBf4f5CYQ03N6k0ztw==', N'a3c7e4c4-3db5-4818-8770-bd534bc34511', NULL, 0, 0, NULL, 1, 0, N'naveeng201@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

GO
INSERT [dbo].[Classes] ([Id], [ClassName], [Description], [Blocked], [CreateDate], [EndDate], [UserID], [InstitutionID]) VALUES (1, N'class34334', N'class222', 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Classes] ([Id], [ClassName], [Description], [Blocked], [CreateDate], [EndDate], [UserID], [InstitutionID]) VALUES (2, N'Class3', N'Class555', 0, CAST(N'2017-01-25T11:53:52.820' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Classes] ([Id], [ClassName], [Description], [Blocked], [CreateDate], [EndDate], [UserID], [InstitutionID]) VALUES (3, N'Class4', N'Class444', 0, CAST(N'2017-01-25T12:33:10.017' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassSections] ON 

GO
INSERT [dbo].[ClassSections] ([Id], [ClassID], [SectionID], [Blocked], [CreateDate], [EndDate], [UserID]) VALUES (1, 2, 3, 0, CAST(N'2017-02-03T09:53:49.643' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ClassSections] ([Id], [ClassID], [SectionID], [Blocked], [CreateDate], [EndDate], [UserID]) VALUES (2, 3, 3, 0, CAST(N'2017-02-03T10:04:58.297' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ClassSections] ([Id], [ClassID], [SectionID], [Blocked], [CreateDate], [EndDate], [UserID]) VALUES (3, 3, 3, 0, CAST(N'2017-02-03T10:04:58.317' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ClassSections] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassSubjects] ON 

GO
INSERT [dbo].[ClassSubjects] ([Id], [ClassID], [SubjectID], [CreateDate], [UserID], [Blocked], [EndDate]) VALUES (12, 3, 1, CAST(N'2017-01-31T07:42:22.800' AS DateTime), NULL, 0, NULL)
GO
INSERT [dbo].[ClassSubjects] ([Id], [ClassID], [SubjectID], [CreateDate], [UserID], [Blocked], [EndDate]) VALUES (13, 4, 3, CAST(N'2017-04-08T17:18:25.333' AS DateTime), NULL, 0, NULL)
GO
INSERT [dbo].[ClassSubjects] ([Id], [ClassID], [SubjectID], [CreateDate], [UserID], [Blocked], [EndDate]) VALUES (14, 3, 2, CAST(N'2017-04-08T19:47:40.713' AS DateTime), NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[ClassSubjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

GO
INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (1, N'India')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

GO
INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [StateId]) VALUES (1, N'Nicobar', 1)
GO
INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [StateId]) VALUES (2, N'North and Middle Andaman', 1)
GO
INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [StateId]) VALUES (3, N'South Andaman', 1)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

GO
INSERT [dbo].[Employee] ([Id], [UserId], [FirstName], [MiddleName], [LastName], [DOB], [AddressID1], [AddressID2], [DepartmentID], [JoiningDate], [ManagerID], [Designation], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Blocked], [BlockedDate], [BlockedBy]) VALUES (1000, NULL, N'Naveen2', NULL, N'G', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Employee] ([Id], [UserId], [FirstName], [MiddleName], [LastName], [DOB], [AddressID1], [AddressID2], [DepartmentID], [JoiningDate], [ManagerID], [Designation], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Blocked], [BlockedDate], [BlockedBy]) VALUES (1001, NULL, N'Naveen3', NULL, N'G', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Employee] ([Id], [UserId], [FirstName], [MiddleName], [LastName], [DOB], [AddressID1], [AddressID2], [DepartmentID], [JoiningDate], [ManagerID], [Designation], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Blocked], [BlockedDate], [BlockedBy]) VALUES (1002, NULL, N'Naveen4', NULL, N'Gurram', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[InstitutionInfo] ON 

GO
INSERT [dbo].[InstitutionInfo] ([Id], [Name], [ShortName], [RegName], [RegNo], [RegDate], [City], [State], [Country], [Pin], [Address1], [Address2], [Type], [CreateDate], [EndDate], [Blocked], [UserID]) VALUES (1, N'i1', N'i1', NULL, NULL, NULL, N'sdfsdf', NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2017-01-26T23:08:02.017' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[InstitutionInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Relationships] ON 

GO
INSERT [dbo].[Relationships] ([Id], [Name], [Description]) VALUES (1, N'Father', N'Father')
GO
INSERT [dbo].[Relationships] ([Id], [Name], [Description]) VALUES (2, N'Mother', N'Mother')
GO
INSERT [dbo].[Relationships] ([Id], [Name], [Description]) VALUES (3, N'Brother', N'Brother')
GO
SET IDENTITY_INSERT [dbo].[Relationships] OFF
GO
SET IDENTITY_INSERT [dbo].[Sections] ON 

GO
INSERT [dbo].[Sections] ([Id], [SectionName], [Description], [Blocked], [CreateDate], [EndDate], [UserID]) VALUES (1, N'sec12', N'sec one2', 0, CAST(N'2017-01-25T13:14:53.657' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Sections] ([Id], [SectionName], [Description], [Blocked], [CreateDate], [EndDate], [UserID]) VALUES (2, N'sec33', N'333', 0, CAST(N'2017-01-26T23:06:57.820' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Sections] ([Id], [SectionName], [Description], [Blocked], [CreateDate], [EndDate], [UserID]) VALUES (3, N'sec2', N'sec2', 0, CAST(N'2017-02-02T08:38:04.617' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Sections] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 

GO
INSERT [dbo].[States] ([StateId], [StateName], [CountryId]) VALUES (1, N'Andaman and Nicobar Island', 1)
GO
INSERT [dbo].[States] ([StateId], [StateName], [CountryId]) VALUES (2, N'Andhra Pradesh', 1)
GO
INSERT [dbo].[States] ([StateId], [StateName], [CountryId]) VALUES (3, N'Arunachal Pradesh', 1)
GO
SET IDENTITY_INSERT [dbo].[States] OFF
GO
INSERT [dbo].[StaticMasterTables] ([ID], [TableID], [TableName], [Description], [CreateDate], [RelationWith]) VALUES (1, 2, N'Relationships', N'contains defferent relation types like father, mother , brother etc.', CAST(N'2017-06-04T00:00:00.000' AS DateTime), N'Emergency Contact Details')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

GO
INSERT [dbo].[Student] ([Id], [UserID], [FirstName], [MiddleName], [LastName], [PhoneNo], [CreatDate], [EndDate], [Blocked]) VALUES (1, NULL, N'Naveen', N'G', N'G', N'9963250744', NULL, NULL, 0)
GO
INSERT [dbo].[Student] ([Id], [UserID], [FirstName], [MiddleName], [LastName], [PhoneNo], [CreatDate], [EndDate], [Blocked]) VALUES (2, NULL, N'Naveen1', N'1G', N'1G', N'99632507', CAST(N'2017-04-14T08:52:28.753' AS DateTime), NULL, 0)
GO
INSERT [dbo].[Student] ([Id], [UserID], [FirstName], [MiddleName], [LastName], [PhoneNo], [CreatDate], [EndDate], [Blocked]) VALUES (3, NULL, N'Akhil', N'Kumar', N'Sripathi', N'887878', CAST(N'2017-04-14T08:53:56.263' AS DateTime), NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentAditionalInfo] ON 

GO
INSERT [dbo].[StudentAditionalInfo] ([Id], [StudentId], [Address1Id], [Address2Id], [AdmissionNo], [ClassRollNo], [AddmissionDate], [BatchID], [DOB], [Gender], [BloodGroup], [BirthPlace], [Nationalty], [Language], [Religion], [StudentCategory], [IsSMSEnabled], [PhotoFileName], [PhotoContentType], [PhotoData], [StatusDescription], [IsActive], [ModifiedDate]) VALUES (4, 1, 2, 2, N'12323', NULL, NULL, 1, CAST(N'2017-04-04T00:00:00.000' AS DateTime), N'Male      ', NULL, N'nzb', N'indian', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[StudentAditionalInfo] ([Id], [StudentId], [Address1Id], [Address2Id], [AdmissionNo], [ClassRollNo], [AddmissionDate], [BatchID], [DOB], [Gender], [BloodGroup], [BirthPlace], [Nationalty], [Language], [Religion], [StudentCategory], [IsSMSEnabled], [PhotoFileName], [PhotoContentType], [PhotoData], [StatusDescription], [IsActive], [ModifiedDate]) VALUES (7, 5, NULL, NULL, NULL, NULL, NULL, 0, CAST(N'2017-04-21T10:44:24.613' AS DateTime), NULL, NULL, N'NZB', N'Indian', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[StudentAditionalInfo] ([Id], [StudentId], [Address1Id], [Address2Id], [AdmissionNo], [ClassRollNo], [AddmissionDate], [BatchID], [DOB], [Gender], [BloodGroup], [BirthPlace], [Nationalty], [Language], [Religion], [StudentCategory], [IsSMSEnabled], [PhotoFileName], [PhotoContentType], [PhotoData], [StatusDescription], [IsActive], [ModifiedDate]) VALUES (8, 4, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2017-04-21T17:21:20.227' AS DateTime), N'sdf       ', N'sdf       ', N'sdf', N'sdf', N'sdf', N'sdf', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[StudentAditionalInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[SubDistricts] ON 

GO
INSERT [dbo].[SubDistricts] ([SubDistrictsId], [SubDistrictsName], [DistrictId]) VALUES (1, N'Car Nicobar', 1)
GO
INSERT [dbo].[SubDistricts] ([SubDistrictsId], [SubDistrictsName], [DistrictId]) VALUES (2, N'Nancowry', 1)
GO
INSERT [dbo].[SubDistricts] ([SubDistrictsId], [SubDistrictsName], [DistrictId]) VALUES (3, N'Great Nicobar', 1)
GO
SET IDENTITY_INSERT [dbo].[SubDistricts] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

GO
INSERT [dbo].[Subjects] ([Id], [SubjectName], [ShortName], [Description], [CreateDate], [EndDate], [UserID], [isDeleted], [locationID]) VALUES (1, N'Subject11', N'SU        ', N'sffsdfsd', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Subjects] ([Id], [SubjectName], [ShortName], [Description], [CreateDate], [EndDate], [UserID], [isDeleted], [locationID]) VALUES (2, N'subject 2', N'su2       ', N'testing subject', CAST(N'2017-01-25T13:15:25.687' AS DateTime), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Subjects] ([Id], [SubjectName], [ShortName], [Description], [CreateDate], [EndDate], [UserID], [isDeleted], [locationID]) VALUES (3, N's1', N's1        ', N'sdfsd', CAST(N'2017-01-26T23:07:46.747' AS DateTime), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionTables] ON 

GO
INSERT [dbo].[TransactionTables] ([TableID], [TableName], [Description], [CreateDate], [RelationWith]) VALUES (1, N'Student', N'Contains basic details of student', CAST(N'2017-04-04T00:00:00.000' AS DateTime), N'StudentAdditionalInfo, StudentClassSectionInfo,Parents')
GO
INSERT [dbo].[TransactionTables] ([TableID], [TableName], [Description], [CreateDate], [RelationWith]) VALUES (3, N'Parents', N'Contains parents information linked with student', CAST(N'2017-04-04T00:00:00.000' AS DateTime), N'Student')
GO
INSERT [dbo].[TransactionTables] ([TableID], [TableName], [Description], [CreateDate], [RelationWith]) VALUES (4, N'StudentAdditionalInfo', N'Contains additional information of the student like address, photo, gender, dob, etc.', CAST(N'2017-04-04T00:00:00.000' AS DateTime), N'Student')
GO
SET IDENTITY_INSERT [dbo].[TransactionTables] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [uc_MastertableName]    Script Date: 4/22/2017 1:01:49 PM ******/
ALTER TABLE [dbo].[MasterTables] ADD  CONSTRAINT [uc_MastertableName] UNIQUE NONCLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [uc_tableName]    Script Date: 4/22/2017 1:01:49 PM ******/
ALTER TABLE [dbo].[StaticMasterTables] ADD  CONSTRAINT [uc_tableName] UNIQUE NONCLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [uc_transableName]    Script Date: 4/22/2017 1:01:49 PM ******/
ALTER TABLE [dbo].[TransactionTables] ADD  CONSTRAINT [uc_transableName] UNIQUE NONCLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Countries]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Districts] FOREIGN KEY([CityId])
REFERENCES [dbo].[Districts] ([DistrictId])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Districts]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_States] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_States]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ClassSections]  WITH CHECK ADD  CONSTRAINT [FK_ClassSections_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[ClassSections] CHECK CONSTRAINT [FK_ClassSections_Classes]
GO
ALTER TABLE [dbo].[ClassSections]  WITH CHECK ADD  CONSTRAINT [FK_ClassSections_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[ClassSections] CHECK CONSTRAINT [FK_ClassSections_Sections]
GO
ALTER TABLE [dbo].[ClassSubjects]  WITH CHECK ADD  CONSTRAINT [FK_ClassSubjects_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[ClassSubjects] CHECK CONSTRAINT [FK_ClassSubjects_Classes]
GO
ALTER TABLE [dbo].[ClassSubjects]  WITH CHECK ADD  CONSTRAINT [FK_ClassSubjects_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[ClassSubjects] CHECK CONSTRAINT [FK_ClassSubjects_Subjects]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Employee] FOREIGN KEY([ManagerEmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Employee]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Districts_dbo.States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_dbo.Districts_dbo.States_StateId]
GO
ALTER TABLE [dbo].[EmergencyContactDetails]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyContactDetails_Relationships] FOREIGN KEY([RelationshipId])
REFERENCES [dbo].[Relationships] ([Id])
GO
ALTER TABLE [dbo].[EmergencyContactDetails] CHECK CONSTRAINT [FK_EmergencyContactDetails_Relationships]
GO
ALTER TABLE [dbo].[FacitityFeatures]  WITH CHECK ADD  CONSTRAINT [FK_FacitityFeatures_Facitity] FOREIGN KEY([FacitityID])
REFERENCES [dbo].[Facitity] ([FacitityID])
GO
ALTER TABLE [dbo].[FacitityFeatures] CHECK CONSTRAINT [FK_FacitityFeatures_Facitity]
GO
ALTER TABLE [dbo].[FacitityFeatures]  WITH CHECK ADD  CONSTRAINT [FK_FacitityFeatures_Features] FOREIGN KEY([FeatareID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[FacitityFeatures] CHECK CONSTRAINT [FK_FacitityFeatures_Features]
GO
ALTER TABLE [dbo].[Feature_FeatureTypes]  WITH CHECK ADD  CONSTRAINT [FK_Feature_FeatureTypes_Features] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[Feature_FeatureTypes] CHECK CONSTRAINT [FK_Feature_FeatureTypes_Features]
GO
ALTER TABLE [dbo].[Feature_FeatureTypes]  WITH CHECK ADD  CONSTRAINT [FK_Feature_FeatureTypes_FeatureType] FOREIGN KEY([FeatureTypeID])
REFERENCES [dbo].[FeatureType] ([FeatureTypeID])
GO
ALTER TABLE [dbo].[Feature_FeatureTypes] CHECK CONSTRAINT [FK_Feature_FeatureTypes_FeatureType]
GO
ALTER TABLE [dbo].[FeatureFunctions]  WITH CHECK ADD  CONSTRAINT [FK_FeatureFunctions_Features1] FOREIGN KEY([FeatueID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[FeatureFunctions] CHECK CONSTRAINT [FK_FeatureFunctions_Features1]
GO
ALTER TABLE [dbo].[FeatureFunctions]  WITH CHECK ADD  CONSTRAINT [FK_FeatureFunctions_Functions1] FOREIGN KEY([FunctionID])
REFERENCES [dbo].[Functions] ([FunctionID])
GO
ALTER TABLE [dbo].[FeatureFunctions] CHECK CONSTRAINT [FK_FeatureFunctions_Functions1]
GO
ALTER TABLE [dbo].[Parents]  WITH CHECK ADD  CONSTRAINT [FK_Guardian_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[Parents] CHECK CONSTRAINT [FK_Guardian_Student]
GO
ALTER TABLE [dbo].[SecurityIds]  WITH CHECK ADD  CONSTRAINT [FK_SecurityIds_SecurityIds] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[SecurityIds] CHECK CONSTRAINT [FK_SecurityIds_SecurityIds]
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId]
GO
ALTER TABLE [dbo].[StudentAddress]  WITH CHECK ADD  CONSTRAINT [FK_StudentAddress_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[StudentAddress] CHECK CONSTRAINT [FK_StudentAddress_Address]
GO
ALTER TABLE [dbo].[StudentAddress]  WITH CHECK ADD  CONSTRAINT [FK_StudentAddress_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[StudentAddress] CHECK CONSTRAINT [FK_StudentAddress_Student]
GO
ALTER TABLE [dbo].[StudentAditionalInfo]  WITH CHECK ADD  CONSTRAINT [FK_StudentAditionalInfo_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[StudentAditionalInfo] CHECK CONSTRAINT [FK_StudentAditionalInfo_Student]
GO
ALTER TABLE [dbo].[StudentClassSectionInfo]  WITH CHECK ADD  CONSTRAINT [FK_StudentClassSectionInfo_Student] FOREIGN KEY([StuentID])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[StudentClassSectionInfo] CHECK CONSTRAINT [FK_StudentClassSectionInfo_Student]
GO
ALTER TABLE [dbo].[StudentClassSectionInfo]  WITH CHECK ADD  CONSTRAINT [FK_StuentClassSectionInfo_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[StudentClassSectionInfo] CHECK CONSTRAINT [FK_StuentClassSectionInfo_Classes]
GO
ALTER TABLE [dbo].[StudentClassSectionInfo]  WITH CHECK ADD  CONSTRAINT [FK_StuentClassSectionInfo_InstitutionInfo] FOREIGN KEY([InstitutionID])
REFERENCES [dbo].[InstitutionInfo] ([Id])
GO
ALTER TABLE [dbo].[StudentClassSectionInfo] CHECK CONSTRAINT [FK_StuentClassSectionInfo_InstitutionInfo]
GO
ALTER TABLE [dbo].[StudentClassSectionInfo]  WITH CHECK ADD  CONSTRAINT [FK_StuentClassSectionInfo_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[StudentClassSectionInfo] CHECK CONSTRAINT [FK_StuentClassSectionInfo_Sections]
GO
ALTER TABLE [dbo].[SubDistricts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubDistricts_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubDistricts] CHECK CONSTRAINT [FK_dbo.SubDistricts_dbo.Districts_DistrictId]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Employee]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubject_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [FK_TeacherSubject_Subjects]
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubject_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([Id])
GO
ALTER TABLE [dbo].[TeacherSubject] CHECK CONSTRAINT [FK_TeacherSubject_Teacher]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_UserTypes] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserTypes] ([UserTypeId])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_UserTypes]
GO
ALTER TABLE [dbo].[UserRolesFacility]  WITH CHECK ADD  CONSTRAINT [FK_UserRolesFacility_Facitity] FOREIGN KEY([FacitityID])
REFERENCES [dbo].[Facitity] ([FacitityID])
GO
ALTER TABLE [dbo].[UserRolesFacility] CHECK CONSTRAINT [FK_UserRolesFacility_Facitity]
GO
ALTER TABLE [dbo].[UserRolesFacility]  WITH CHECK ADD  CONSTRAINT [FK_UserRolesFacility_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserRolesFacility] CHECK CONSTRAINT [FK_UserRolesFacility_Roles]
GO
ALTER TABLE [dbo].[UserRolesFacility]  WITH CHECK ADD  CONSTRAINT [FK_UserRolesFacility_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[UserRolesFacility] CHECK CONSTRAINT [FK_UserRolesFacility_UserInfo]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserSecurityDetails]    Script Date: 4/22/2017 1:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetUserSecurityDetails]
@username nvarchar(100)
as
begin
select ui.FirstName, ui.LastName, ui.UserID, ui.UserTypeID, si.Password, ui.Email from UserInfo ui inner join
securityids si on si.UserID=ui.UserID where si.UserName=@username

end






GO
USE [master]
GO
