
<style>
    .row {
        margin-top: 0px;
    }
</style>
<div ng-app="myApp" ng-controller="InstitutionInfoIndexController">
    <button style="width: 170px; margin-top: 10px; margin-bottom: 10px;" class="btn" id="Button4" type="button" ng-click="LoadInstituteDetails(0)">
        <span>Create New Institute</span>
    </button>
    <div id="Classgrid" ui-grid="Classgrid" class="grid" external-scopes="$scope"></div>
</div>