@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Custom Header Start*/
header {
		background:#01325a;
	/*min-height:123px;*/
	/*border-bottom:1px solid #071a29;*/
	color:#FFF;
     width: 90.5%;
     margin: 0px auto;
}
.logo {
	/*padding:20px 20px 20px 0px;*/
    padding: 0px 0px 0px 0px;
    height: 50px;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
	margin-top:150px;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}



@media (max-width: 300px) {
	.logo {
		width:100%;
	}
	.rightlogo {
		padding:0px;
		font-size:14px;
	}
}

@media (min-width:300px) and (max-width:979px) {
	/*.rightlogo{padding:50px 0px 50px 40px;text-align:right;font-size:18px;}*/
}
@media (min-width: 1200px) {
	.rightlogo {
		padding:50px 0px 50px 40px;
		text-align:right;
		font-size: 18px;
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
	.rightlogo {
		/* padding:50px 0px 50px 40px;*/
		text-align:right;
		font-size:18px;
		/* padding:20px 0px;*/
		position:relative;
		bottom: -50px;
right: -40%;
	}
}
.mainNav {
	min-height:44px;
	width:100%;
	margin:0 auto;
	padding:0;
	background:#ccc;
	border-bottom:1px solid #ccc;
}
@media (min-width: 760px) {
	ul.nav li.dropdown:hover ul.dropdown-menu {
		display:block;
	}
	ul.nav li.dropdown ul.dropdown-menu li:hover li:befour {
		background:red;
	}
}
@media (max-width: 759px) {
	.dropdown-menu li:hover {
		background:#dc770b;
		color:#fff;
	}
}
.active .dropdown-toggle {
	color:#FFF;
	background-color:transparent;
	background:#dc770b url(../img/subNav_topArrow.png) no-repeat bottom center;
}
.nav .dropdown-toggle .caret {
	display: none;
}




#usermenu{
				 margin-bottom:0px;
				}
				#usermenu li.has-sub {
list-style: none;
height: 32px;
text-align: right;

}
@media (max-width: 767px){
	.usersubmenu {
position: absolute;
top: 98%;
	}
}
@media (min-width: 768px){
	.usersubmenu {
position: absolute;
top: 127%;
	}
}
.usersubmenu {
position: absolute;

z-index: 1000;
display: none;
float: left;
right: 0px;
min-width: 160px;
padding: 0px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, .15);
border-radius: 2px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.usersubmenu li {
list-style: none;
border-bottom: 1px solid #999;
}
.usersubmenu li a {
display: block;
padding: 10px 20px;
clear: both;
border-bottom: 1px solid #999;
color: black;
font-weight: normal;
line-height: 1.42857143;
white-space: nowrap;
font-size: 13px;
text-align: center;
}
#usermenu li.has-sub:hover .usersubmenu {
display: block;
}
.usersubmenu li:hover {
	color:white;
	background:#01325A;
}
.usersubmenu li:hover a{
	color:white;
	
}










/* End of The Header Styles*/
/* Main Container */

.maincontainer{
min-height: 640px;
}

.leftcolumn{
 border: 1px solid #999;
  padding: 0px;
  border-radius: 10px;
  margin-bottom:5px;
  
 
}
#no-more-tables table thead tr th{
 background:rgb(1, 50, 90);
 color:white;
}

@media (min-width:981px){
  .leftcolumn{
	  min-height: 600px;
  }
}

.sidebarform{
  padding:20px;
  
}
.sidebarform p{
 font-size:20px;
   background: rgb(1, 50, 90);
  color: white;
  cursor:pointer;

}
.sideheader {
    background: rgb(1, 50, 90);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 20px;
   border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

@media (max-width:430px) {
.logo{
width:100%;
}
}
@media (max-width:767px) {
	.full {
		margin-bottom:10px;
	}
}
.date {
	font-size:14px;
	font-weight:bold;
	padding: 13px 0px 0px 0px;
}
.heading {
	font-size:24px;
	font-weight:normal;
	margin:0 auto;
	color:#003259;
}
.red {
	color:red;
}
.title {
	color:#000;
	font-size:14px;
	
	font-weight:bold;
	margin:0 0 10px 0;
	text-transform:capitalize;
}
form sub {
	color:red;
}

@media (min-width:979px) {
	.rightcolumne {
		border-left:1px solid #ccc;
		padding:0px 0px 0px 40px;
	}
	
}
@media (max-width:1099) {
	.date {
		text-align:center;
	}
}
@media (max-width:250px) {
	.logo {
		width:100%;
	}
}
button {
	color:#fff;
	font-family:"Segoe UI",Arial;
	font-size:13px;
	font-weight:bold;
	display:inline-block;
	padding:10px 22px;
	background-color:#00305d;
	text-decoration:none;
	text-transform:uppercase;
	height:36px;
	text-align:center;
	cursor:pointer;
}
.btn:hover {
	color:#FF0;
	text-decoration:none;
}
.approvals li {
	list-style:none;
}
table.imagetable td.tdHeader {
	background-color:#00305d;
	text-align:center;
	width:220px;
	color:white;
	font-family:"Segoe UI",Arial;
	font-size:16px;
}
table.imagetable td {
	background:#F8F8F8;
	border-width:0px;
	padding:8px;
	border-style:solid;
	border-color: #999999;
}
table.imagetable td.tdRowAlignleft {
	/* width:150px;*/
	text-align:left;
}
#AcceptTable thead tr {
	background:#00305d;
	color:white;
}
.AcceptTable thead tr {
	background:#00305d;
	color:white;
}
table.imagetable td {
	background:#F8F8F8;
	border-width:0px;
	padding:8px;
	border-style:solid;
	border-color:#999999;
}
table.recordstable th {
	padding:8px;
	text-align:left;
	border-style:solid;
	border-width:1px 1px 0px 0px;
	border-color:#d3d3d3;
	background-color:#00305d;
	color:#e5e5e5;
}
table.Details {
 border-spacing: 2px;
border-collapse: inherit;
}
@media (min-width: 601px){
	.Details {
       float: right;
	}
}
@media (max-width: 600px){
 .Details {
       float: left;
	}
}
@media (min-width: 300px){
	.Details {
		font-size: 14px;
	}
}
@media (max-width: 299px){
	.Details {
		font-size: 12px;
	}
}
.Details {
text-align: center;

border-spacing:1px;
}
.Details th {
color: white;
background: rgb(1, 50, 90);
padding: 5px;
text-align: center;
}
table.Details td{
 padding:5px;
}
.Details Tbody tr {
background: #C9C5C5;
}

.recordstable {
	width:100%;
	margin-bottom:11px;
}
table.imagetable th {
	background:#1d1b45;
	border-width:0px;
	color:white;
	font-size:15px;
	padding: 18px 5px;
	border-style:solid;
	border-color:#999999;
	
}
table.imagetable tr:nth-child(even) td {
background: #ECEFF2;
border-width: 0px;
padding: 8px;
border-style: solid;
border-color: #999999;
font-size: 13px;
}
table.imagetable tr td {

border-width: 0px;
padding: 8px;
border-style: solid;
border-color: #999999;
font-size: 13px;
}
table.imagetable {
	
	color:#333333;
	border-width:0px;
	border-color:#999999;
	border-collapse:collapse;
	margin:0px 15px 15px 0px;
}
.input-append .add-on,.input-prepend .add-on {
	display:inline-block;
	width:auto;
	height:34px;
	min-width:16px;
	padding:4px 5px;
	font-size:14px;
	font-weight:normal;
	line-height:20px;
	text-align:center;
	text-shadow:0 1px 0 #fff;
	background-color:#eee;
	border:1px solid #ccc;
}
.input-append .add-on,.input-prepend .add-on,.input-append .btn,.input-prepend .btn,.input-append .btn-group>.dropdown-toggle,.input-prepend .btn-group>.dropdown-toggle {
	vertical-align:top;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.input-append .active,.input-prepend .active {
	background-color:#a9dba9;
	border-color:#46a546;
}
.input-prepend .add-on,.input-prepend .btn {
	margin-right:-1px;
}
.input-prepend .add-on:first-child,.input-prepend .btn:first-child {
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}
.input-append input,.input-append select,.input-append .uneditable-input {
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}
.input-append input+.btn-group .btn:last-child,.input-append select+.btn-group .btn:last-child,.input-append .uneditable-input+.btn-group .btn:last-child {
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
}
.add-on{
 cursor: pointer;
}
.input-append .add-on,.input-append .btn,.input-append .btn-group {
	margin-left:-1px;
}
.input-append .add-on:last-child,.input-append .btn:last-child,.input-append .btn-group:last-child>.dropdown-toggle {
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
}
[class^="icon-"],[class*=" icon-"] {
	display:inline-block;
	width:14px;
	height:14px;
	margin-top:1px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-image:url("../img/glyphicons-halflings.png");
	background-position:14px 14px;
	background-repeat:no-repeat;
	/*background-color: rgba(0, 136, 255, 1);*/
}
.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"] {
	background-image:url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
	background-position:0 0;
}
.icon-music {
	background-position:-24px 0;
}
.icon-search {
	background-position:-48px 0;
}
.icon-envelope {
	background-position:-72px 0;
}
.icon-heart {
	background-position:-96px 0;
}
.icon-star {
	background-position:-120px 0;
}
.icon-star-empty {
	background-position:-144px 0;
}
.icon-user {
	background-position:-168px 0;
}
.icon-film {
	background-position:-192px 0;
}
.icon-th-large {
	background-position:-216px 0;
}
.icon-th {
	background-position:-240px 0;
}
.icon-th-list {
	background-position:-264px 0;
}
.icon-ok {
	background-position:-288px 0;
}
.icon-remove {
	background-position:-312px 0;
}
.icon-zoom-in {
	background-position:-336px 0;
}
.icon-zoom-out {
	background-position:-360px 0;
}
.icon-off {
	background-position:-384px 0;
}
.icon-signal {
	background-position:-408px 0;
}
.icon-cog {
	background-position:-432px 0;
}
.icon-trash {
	background-position:-456px 0;
}
.icon-home {
	background-position:0 -24px;
}
.icon-file {
	background-position:-24px -24px;
}
.icon-time {
	background-position:-48px -24px;
}
.icon-road {
	background-position:-72px -24px;
}
.icon-download-alt {
	background-position:-96px -24px;
}
.icon-download {
	background-position:-120px -24px;
}
.icon-upload {
	background-position:-144px -24px;
}
.icon-inbox {
	background-position:-168px -24px;
}
.icon-play-circle {
	background-position:-192px -24px;
}
.icon-repeat {
	background-position:-216px -24px;
}
.icon-refresh {
	background-position:-240px -24px;
}
.icon-list-alt {
	background-position:-264px -24px;
}
.icon-lock {
	background-position:-287px -24px;
}
.icon-flag {
	background-position:-312px -24px;
}
.icon-headphones {
	background-position:-336px -24px;
}
.icon-volume-off {
	background-position:-360px -24px;
}
.icon-volume-down {
	background-position:-384px -24px;
}
.icon-volume-up {
	background-position:-408px -24px;
}
.icon-qrcode {
	background-position:-432px -24px;
}
.icon-barcode {
	background-position:-456px -24px;
}
.icon-tag {
	background-position:0 -48px;
}
.icon-tags {
	background-position:-25px -48px;
}
.icon-book {
	background-position:-48px -48px;
}
.icon-bookmark {
	background-position:-72px -48px;
}
.icon-print {
	background-position:-96px -48px;
}
.icon-camera {
	background-position:-120px -48px;
}
.icon-font {
	background-position:-144px -48px;
}
.icon-bold {
	background-position:-167px -48px;
}
.icon-italic {
	background-position:-192px -48px;
}
.icon-text-height {
	background-position:-216px -48px;
}
.icon-text-width {
	background-position:-240px -48px;
}
.icon-align-left {
	background-position:-264px -48px;
}
.icon-align-center {
	background-position:-288px -48px;
}
.icon-align-right {
	background-position:-312px -48px;
}
.icon-align-justify {
	background-position:-336px -48px;
}
.icon-list {
	background-position:-360px -48px;
}
.icon-indent-left {
	background-position:-384px -48px;
}
.icon-indent-right {
	background-position:-408px -48px;
}
.icon-facetime-video {
	background-position:-432px -48px;
}
.icon-picture {
	background-position:-456px -48px;
}
.icon-pencil {
	background-position:0 -72px;
}
.icon-map-marker {
	background-position:-24px -72px;
}
.icon-adjust {
	background-position:-48px -72px;
}
.icon-tint {
	background-position:-72px -72px;
}
.icon-edit {
	background-position:-96px -72px;
}
.icon-share {
	background-position:-120px -72px;
}
.icon-check {
	background-position:-144px -72px;
}
.icon-move {
	background-position:-168px -72px;
}
.icon-step-backward {
	background-position:-192px -72px;
}
.icon-fast-backward {
	background-position:-216px -72px;
}
.icon-backward {
	background-position:-240px -72px;
}
.icon-play {
	background-position:-264px -72px;
}
.icon-pause {
	background-position:-288px -72px;
}
.icon-stop {
	background-position:-312px -72px;
}
.icon-forward {
	background-position:-336px -72px;
}
.icon-fast-forward {
	background-position:-360px -72px;
}
.icon-step-forward {
	background-position:-384px -72px;
}
.icon-eject {
	background-position:-408px -72px;
}
.icon-chevron-left {
	background-position:-432px -72px;
}
.icon-chevron-right {
	background-position:-456px -72px;
}
.icon-plus-sign {
	background-position:0 -96px;
}
.icon-minus-sign {
	background-position:-24px -96px;
}
.icon-remove-sign {
	background-position:-48px -96px;
}
.icon-ok-sign {
	background-position:-72px -96px;
}
.icon-question-sign {
	background-position:-96px -96px;
}
.icon-info-sign {
	background-position:-120px -96px;
}
.icon-screenshot {
	background-position:-144px -96px;
}
.icon-remove-circle {
	background-position:-168px -96px;
}
.icon-ok-circle {
	background-position:-192px -96px;
}
.icon-ban-circle {
	background-position:-216px -96px;
}
.icon-arrow-left {
	background-position:-240px -96px;
}
.icon-arrow-right {
	background-position:-264px -96px;
}
.icon-arrow-up {
	background-position:-289px -96px;
}
.icon-arrow-down {
	background-position:-312px -96px;
}
.icon-share-alt {
	background-position:-336px -96px;
}
.icon-resize-full {
	background-position:-360px -96px;
}
.icon-resize-small {
	background-position:-384px -96px;
}
.icon-plus {
	background-position:-408px -96px;
}
.icon-minus {
	background-position:-433px -96px;
}
.icon-asterisk {
	background-position:-456px -96px;
}
.icon-exclamation-sign {
	background-position:0 -120px;
}
.icon-gift {
	background-position:-24px -120px;
}
.icon-leaf {
	background-position:-48px -120px;
}
.icon-fire {
	background-position:-72px -120px;
}
.icon-eye-open {
	background-position:-96px -120px;
}
.icon-eye-close {
	background-position:-120px -120px;
}
.icon-warning-sign {
	background-position:-144px -120px;
}
.icon-plane {
	background-position:-168px -120px;
}
.icon-calendar {
	background-position:-192px -120px;
}
.icon-random {
	width:16px;
	background-position:-216px -120px;
}
.icon-comment {
	background-position:-240px -120px;
}
.icon-magnet {
	background-position:-264px -120px;
}
.icon-chevron-up {
	background-position:-288px -120px;
}
.icon-chevron-down {
	background-position:-313px -119px;
}
.icon-retweet {
	background-position:-336px -120px;
}
.icon-shopping-cart {
	background-position:-360px -120px;
}
.icon-folder-close {
	background-position:-384px -120px;
}
.icon-folder-open {
	width:16px;
	background-position:-408px -120px;
}
.icon-resize-vertical {
	background-position:-432px -119px;
}
.icon-resize-horizontal {
	background-position:-456px -118px;
}
.icon-hdd {
	background-position:0 -144px;
}
.icon-bullhorn {
	background-position:-24px -144px;
}
.icon-bell {
	background-position:-48px -144px;
}
.icon-certificate {
	background-position:-72px -144px;
}
.icon-thumbs-up {
	background-position:-96px -144px;
}
.icon-thumbs-down {
	background-position:-120px -144px;
}
.icon-hand-right {
	background-position:-144px -144px;
}
.icon-hand-left {
	background-position:-168px -144px;
}
.icon-hand-up {
	background-position:-192px -144px;
}
.icon-hand-down {
	background-position:-216px -144px;
}
.icon-circle-arrow-right {
	background-position:-240px -144px;
}
.icon-circle-arrow-left {
	background-position:-264px -144px;
}
.icon-circle-arrow-up {
	background-position:-288px -144px;
}
.icon-circle-arrow-down {
	background-position:-312px -144px;
}
.icon-globe {
	background-position:-336px -144px;
}
.icon-wrench {
	background-position:-360px -144px;
}
.icon-tasks {
	background-position:-384px -144px;
}
.icon-filter {
	background-position:-408px -144px;
}
.icon-briefcase {
	background-position:-432px -144px;
}
.icon-fullscreen {
	background-position:-456px -144px;
}
.input-append,.input-prepend {
	margin-bottom:5px;
	font-size:0;
	white-space:nowrap;
}
.input-append input,.input-prepend input,.input-append select,.input-prepend select,.input-append .uneditable-input,.input-prepend .uneditable-input,.input-append .dropdown-menu,.input-prepend .dropdown-menu {
	font-size:14px;
}
.input-append input,.input-prepend input,.input-append select,.input-prepend select,.input-append .uneditable-input,.input-prepend .uneditable-input {
	position:relative;
	margin-bottom:0;
	*margin-left:0;
	vertical-align:top;
	/* -webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;*/
}
.input-append input:focus,.input-prepend input:focus,.input-append select:focus,.input-prepend select:focus,.input-append .uneditable-input:focus,.input-prepend .uneditable-input:focus {
	z-index:2;
}
.input-prepend.input-append input,.input-prepend.input-append select,.input-prepend.input-append .uneditable-input {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.input-prepend.input-append input+.btn-group .btn,.input-prepend.input-append select+.btn-group .btn,.input-prepend.input-append .uneditable-input+.btn-group .btn {
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
}
.input-prepend.input-append .add-on:first-child,.input-prepend.input-append .btn:first-child {
	margin-right:-1px;
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}
.input-prepend.input-append .add-on:last-child,.input-prepend.input-append .btn:last-child {
	margin-left:-1px;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
}
.input-prepend.input-append .btn-group:first-child {
	margin-left: 0;
}
/*form-inline input[type="radio"]
{
	display:inline-block;
	
	*display:inline;
	/*margin-bottom:0;*/
	/*vertical-align:middle;
	*zoom:1;
}*/
.form-search input,.form-inline input,.form-horizontal input,.form-search textarea,.form-inline textarea,.form-horizontal textarea,.form-search select,.form-inline select,.form-horizontal select,.form-search .help-inline,.form-inline .help-inline,.form-horizontal .help-inline,.form-search .uneditable-input,.form-inline .uneditable-input,.form-horizontal .uneditable-input,.form-search .input-prepend,.form-inline .input-prepend,.form-horizontal .input-prepend,.form-search .input-append,.form-inline .input-append,.form-horizontal .input-append {
	display:inline-block;
	/*width:90%;*/
	*display:inline;
	/*margin-bottom:0;*/
	vertical-align:middle;
	*zoom:1;
}
/*.form-horizontal input:not[type='radio'],.form-horizontal .input-append,.form-horizontal select {
	width: 90%;
}*/
@media only screen and (max-width:800px) {
		/* Force table to not be like tables anymore */
	#no-more-tables table,	#no-more-tables thead,	#no-more-tables tbody,	#no-more-tables th,	#no-more-tables td,	#no-more-tables tr {
				display: block;
	}
		/* Hide table headers (but not display:none;,for accessibility) */
	#no-more-tables thead tr {
				position:absolute;
			top:-9999px;
			left:-9999px;
	}
		#no-more-tables tr {
		border: 1px solid #ccc;
	}
		#no-more-tables td {
				/* Behave like a "row" */
		border:none;
			border-bottom:1px solid #eee;
				position:relative;
			padding-left:50%;
				white-space:normal;
			text-align:left;
	}
		#no-more-tables td:before {
				/* Now like a table header */
		position:absolute;
			/* Top/left values mimic padding */
		top:6px;
			left:6px;
			width:45%;
				padding-right:10px;
				white-space:nowrap;
			text-align:left;
			font-weight:bold;
	}
		/*	Label the data	*/
	#no-more-tables td:before {
		content: attr(data-title);
	}
}
/* End Of the Main Container */
/* Footer styles starts */
footer{
    /*margin-top: 10px;*/
      width: 90.5%;
  margin: 0px auto;
}
footer>#copyright {
	clear:both;
	width:100%;
	height:40px;
	margin:0 auto;
	padding:0;
	background-color:#01325a;
}
#copyright p.copyRt {
	margin:0;
	padding:12px 10px 0 10px;
	color:#fff;
    text-align:right;
	font-size:11px;
	font-family: "Segoe UI",Arial;
}
/* End Of the Footer */