<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MDMDataContext" connectionString="metadata=res://*/MDMModel.csdl|res://*/MDMModel.ssdl|res://*/MDMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=16.181.232.175;initial catalog=MDM;user id=vfs_portal;password=tiger@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MDMDataContext" connectionString="metadata=res://*/MDMModel.csdl|res://*/MDMModel.ssdl|res://*/MDMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=16.181.232.175;initial catalog=MDM;user id=vfs_portal;password=tiger@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="MDMDataContext" connectionString="metadata=res://*/MDMModel.csdl|res://*/MDMModel.ssdl|res://*/MDMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=16.181.232.175;initial catalog=MDM;user id=vfs_portal;password=tiger@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MDMDataContext" connectionString="metadata=res://*/MDMModel.csdl|res://*/MDMModel.ssdl|res://*/MDMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BAGULA7\SQLEXPRESS;initial catalog=MDM1;Integrated Security=true;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <!--<add name="ESDataContext" connectionString="metadata=res://*/ESModel.csdl|res://*/ESModel.ssdl|res://*/ESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=ESDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<add name="ESDataContext" connectionString="metadata=res://*/ESModel.csdl|res://*/ESModel.ssdl|res://*/ESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAVEEN-PC;initial catalog=ESDB1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>